* {
  margin: 0 auto, ;
  padding: 0;
}

#photoStartPage {
  border-radius: 50%;
  height: 30%;
}

footer {
  clear: left
}

.wrapper {
  position: relative;
  background-color: rgba(5, 20, 12, 0.61);
}

.wrapper2 {
  display: flex;
  flex-direction: row;
  margin: 6px 0 0 6px;
}

#photo {
  margin: 1.5rem;
  padding: 1rem;
}

#backWrapper {
  height: 95vh;
  margin: 20px;
  
  background-image: linear-gradient(to right bottom, #11998e63, #29c565bb);
  background-size: contain;
  background-repeat: no-repeat, repeat-y;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 90%, 0% 90%);
}

body {
  font-family: 'Libre Franklin', sans-serif;
 
}

p.vertical {
  writing-mode: vertical-rl;
  font-size: 16px;
  color: white;
  margin: 15px 0 0 15px;
  text-shadow: 2px 2px 8px #111;
}

.introText {
  font-size: 18px;
  font-weight: 10;
  
  color: white;
  position: absolute;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
}
.title {
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;  
}
.cv{
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  color: white;
  position: absolute;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  30% {
    opacity: 1;
    transform: translateX(100px);
  }

  50% {
    opacity: 1;
    transform: translateX(200px);
  }
  
  75% {
    opacity: 1;
    transform: translateX(100px);
  }
  
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(700px);
  }
  50% {
    opacity: 1;
    transform: translateX(350px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@font-face {
  src: ("font/BebasNeue-Regular.tff");
  font-family: bevas;
}

/* font-family: 'Indie Flower', cursive; */

h1 {
  letter-spacing: 1px;
  color: rgb(255, 252, 250);
  font-size: 40px;
}

h1:first-letter {
  font-size: 70px;
  font-weight: 60;
}

h3 {
  font-size: 22px;
  font-weight: 40;
}

ul {
  list-style-type: none;
  padding: 1rem;
  overflow: hidden;
  line-height: 1.2rem;
  margin: 0px auto;
  width: fit-content;
}

ul li {
  display: block;
  float: left;
  list-style: none;
}

ul li a {
  display: block;
  color: peachpuff;
  font-size: 20px;
  padding: 10px;
  margin-left:20px;
  text-decoration: none;
}


li a:hover:not(.active) {
  color:white;
  border-bottom: 1px solid white;;
  text-decoration: none;
}

li a.active {
  color: white;
  text-decoration:none;
  margin-bottom: 10px;
}

li.a:hover {
  /* display: block-line; */
  padding: 0 2px auto;
  font-size: 16px;
  color: rgb(31, 3, 3);
  text-align: center;
  border-bottom:1px white solid;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #11998e63; 
  background-image: linear-gradient(to right bottom, #11998e63, #29c565bb);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  padding: 2px 5px;
  z-index: 3;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media only screen and(min-width:768px) {
  /* IPAD */
}

@media only screen and(min-width:1000px) {
  /* DESKTOP */
}