/* ctrl k ctrl c   kommentar*/

/* shift alt f   formatera*/

* {
  margin: 0 auto, ;
  padding: 0;
}

#photoStartPage {
  border-radius: 50%;
  height: 30%;
}

footer {
  clear: left
}

.wrapper {
  position: relative;
  background-color: rgba(5, 20, 12, 0.61);
}

.wrapper2 {
  /* border:dotted 1px black; */
  display: flex;
  flex-direction: row;
  margin: 6px 0 0 6px;
  /*background-color:rgb(166, 255, 0);*/
}

#photo {
  margin: 1.5rem;
  padding: 1rem;
}

#backWrapper {
  height: 95vh;
  margin: 20px;
  /* background-image: linear-gradient(to right bottom , #11998e63,#29c565bb), url("bildercv/faceb3.png"); */
  background-image: linear-gradient(to right bottom, #11998e63, #29c565bb);
  /* background-image: url("bildercv/faceb3.png"); */
  background-size: contain;
  background-repeat: no-repeat, repeat-y;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 90%, 0% 90%);
}

body {
  font-family: 'Libre Franklin', sans-serif;
  /* background-image: url("bildercv/paperTexture.jpg"), url("bildercv/faceb.png"); */
  /*background-image: url("bildercv/faceb3.png"),url("bildercv/paperTexture.jpg") ;

/* background-position: center;
centrera bilden så att den hamnar i mitten om den inte får plats */
  /* background-size: 80%; */
  /* background-size: cover; */
  /* opacity: 0.6;
/* z-index: -1;     */
  /* background-blend-mode: lighten;   */
  /* background-color: #cccccc;   */
}

p.vertical {
  writing-mode: vertical-rl;
  font-size: 16px;
  color: white;
  margin: 15px 0 0 15px;
  text-shadow: 2px 2px 8px #111;
}

.introText {
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  font-size: 18px;
  font-weight: 10;
  /* text-align:center; */
  color: white;
  position: absolute;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  /* header är parent so header needs to be relative*/
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  /* STORA BOKSTÄVER 
    top: 50%;
    left: 50%;*/
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@font-face {
  src: ("font/BebasNeue-Regular.tff");
  font-family: bevas;
}

/* font-family: 'Indie Flower', cursive; */

h1 {
  /* text-transform: capitalize; */
  letter-spacing: 1px;
  color: rgb(255, 252, 250);
  font-size: 40px;
}

h1:first-letter {
  font-size: 70px;
  font-weight: 60;
}

h3 {
  font-size: 22px;
  font-weight: 40;
}

/* header nav ul */

ul {
  list-style-type: none;
  padding: 8px;
  overflow: hidden;
  line-height: 30px;
  margin: 0px auto;
  /* marginalen på menyraden centrerad */
  width: fit-content;
  /* Om det inte centreras lägg till display block och fit-content så den centreras i wrappern*/
  /* border: 0px solid #e7e7e7; */
  /* background-color: #f3f3f3; */
}

ul li {
  display: block;
  /* hamnar bredvid varandra  */
  float: left;
  /* tar bort tomrummet mellan kolumnerna  */
  list-style: none;
  /* ingen punktlista */
}

ul li a {
  display: block;
  /* För att man ska kunna klicka utanför länken också, större träffyta */
  color: peachpuff;
  /* text-align: center; */
  font-size: 20px;
  padding: 10px 10px;
  /* mellanrum mellan länkarna */
  text-decoration: none;
  /* ingen underline */
}

/* ul li a{
    display:block;
    padding:0px 40px 10px ;
    font-size: 24px;
    color:rgb(51, 38, 38);
    text-decoration:none;
    text-align: center;
    /* border-color: black;
    border-style: solid; 
} */

li a:hover:not(.active) {
  /* background-color: #38ef7d; */
  background-color: #e8f3ec;
  color:green;
  border-radius: 8px;
  /* transform: scale(1.2) translateY(5px) translateX(5px); */
  box-shadow: 0 10px 20px rgba(102, 98, 98, 0.2);
  border-bottom:1px solid white;
  /* background-color:#11998e; */
}

li a.active {
  color: white;
  /* background-color: rgb(234, 243, 235); */
  text-decoration: underline;
}

li.a:hover {
  display: block-line;
  padding: 0 20px auto;
  font-size: 16px;
  color: rgb(31, 3, 3);
  text-align: center;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  padding: 12px 16px;
  z-index: 3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.img-eye {
  width: 300px;
  height: 200px;
  background-image: url(bilder/faceb.png);
  background-size: 200%;
  /* förändrar storlek på bilden inte containern */
  background-repeat: no-repeat;
  background-position: center left;
  /* centerar bilden i containern och tar vänster delen */
}

.img-eye:hover {
  background-size: 100%;
  /* förändrar storlek på bilden inte containern */
}

@media only screen and(min-width:768px) {
  /* IPAD */
}

@media only screen and(min-width:1000px) {
  /* DESKTOP */
}

/* KAN INTE SÄTTA OPACITET PÅ BAKGROUND HÄR SÄTTS pseudo element bakom diven
    div {
        width: 200px;
        height: 200px;
        display: block;
        position: relative;
      }
      
      div::after {
        content: "";
        background: url(image.jpg);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      } */